.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.registerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: #fff;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
.registerContainer form {
  width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.inputGroup input[type="text"],
.inputGroup input[type="email"],
.inputGroup input[type="password"] {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  box-sizing: border-box;
  resize: vertical;
}

.inputGroup input[type="text"]:focus,
.inputGroup input[type="email"]:focus,
.inputGroup input[type="password"]:focus {
  border-color: #4a90e2;
  background-color: #fff;
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
  outline: none;
}

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordWrapper input {
  width: 100%;
  padding-right: 40px;
}
.eyeButton {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #333;
}
.inputGroup label {
  margin-bottom: 8px;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 600;
  color: #333;
}

.buttonContainer {
  margin: 40px 30px 30px 30px;
}

.button {
  border: 0;
  width: 100%;
  border-radius: 100px;
  padding: 16px 30px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  background: #f8b363;
  transition: 0.3s ease background-color;
}

.button:hover {
  opacity: 0.8;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

.linkToLogin {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

@media (max-width: 800px) and (min-width: 320px) {
  .registerContainer {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 40px auto;
  }

  .inputGroup input[type="text"],
  .inputGroup input[type="email"],
  .inputGroup input[type="password"] {
    padding: 8px 6px;
    font-size: 13px;
  }
  .linkToLogin {
    font-size: 10px;
    margin-top: 5px;
  }
  .inputGroup label {
    font-size: 13px;
  }

  .buttonContainer {
    margin: 20px 10px 10px 10px;
  }

  .button {
    font-size: 12px;
    padding: 10px 20px;
  }
}
