.checkoutContainer {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.checkoutLeft,
.checkoutRight {
  flex: 1;
  background: #f0f0f0;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.section {
  margin-bottom: 2rem;
}

label {
  color: #222;
}

input[type="radio"] {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  cursor: pointer;
}
.option {
  display: flex;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 20px;
  background: #fff;
}

.option:hover {
  background: #f8f8f8;
}

.option .address {
  display: flex;
  flex-direction: column;
  margin-left: 1.8rem;
  margin-top: 0.5rem;
}

.editLink {
  color: #295d99;
  text-decoration: none;
  font-size: 16px;
  margin-top: 1.5rem;
}
.editLink:hover {
  text-decoration: underline;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.cardLogos {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.cardLogos img {
  height: 30px;
  object-fit: contain;
  transition: filter 0.3s ease;
}
.cardLogos img:hover {
  filter: brightness(0.8);
}

.cardHint {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.cardForm {
  display: flex;
  flex-direction: column;
}

.cardInput,
.cardSelect {
  width: 100%;
  padding: 12px 16px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  box-sizing: border-box;
  resize: vertical;
}

.cardInput:focus,
.cardSelect:focus {
  border-color: #4a90e2;
  background-color: #fff;
  box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
  outline: none;
}

.cardRow {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

select {
  color: #777;
}

.valid {
  border-color: green;
}

.invalid {
  border-color: red;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

.total p {
  font-size: 1rem;
  color: #666;
}
.total strong {
  font-size: 1.3rem;
  color: #000;
}
.payButtonContainer {
  display: flex;
  margin: 40px 30px 30px 30px;
}
.payButton {
  display: flex;
  border: 0;
  width: 100%;
  border-radius: 100px;
  padding: 16px 30px;
  margin-inline: 40px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  background: #f8b363;
  transition: 0.3s ease background-color;
}

.payButton:hover {
  opacity: 0.8;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .checkoutContainer {
    flex-direction: column;
  }

  .checkoutLeft {
    order: 2;
  }

  .checkoutRight {
    order: 1;
  }

  .checkoutLeft,
  .checkoutRight {
    padding: 1.5rem;
  }

  .cardRow {
    flex-direction: column;
    margin-bottom: 0px;
    gap: 0px;
  }

  .payButtonContainer {
    margin: 20px 0;
  }

  .payButton {
    margin: 0;
    width: 100%;
    padding: 12px;
    font-size: 14px;
  }
}
