.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 0px;
  border-radius: 12px;
  max-width: 350px;
  background-color: white;
}

.cardImg {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.cardPrice {
  font-weight: bold;
}

.card:hover {
  filter: brightness(0.9); /* Reduce el brillo, oscureciendo la card */
  transition: filter 0.3s ease;
  transform: scale(1.02);
}
