.contentContainer {
  margin: 5% 10% 10% 10%;
}

/*SECCION DE HERO */

.heroImage {
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/src/assets/images/hero.jpg");
  height: 80vh;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroText {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  color: white;
}

.heroText p {
  font-size: 2vw;
  margin-block-start: 0.2em;
  margin-block-end: 1em;
}

/*SECCION DE CATEGORIAS */

.categoryTextSection {
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #181818;
  transition: width 0.3s ease;
}

.link:hover {
  opacity: 0.8;
}

.cardsCategories {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/*SECCION DE PRODUCTOS */
.toggleButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: 1px solid #181818;
  border-radius: 50px;
  max-width: 300px;
  height: 40px;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
  background: #f0f0f0;
}
.discountSide,
.featuredSide {
  width: 50%;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  z-index: 2;
}

.discountSide p,
.featuredSide p {
  font-size: 15px;
}

.selector {
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 50px;
  background: #181818;
  transition: transform 0.3s ease-in-out;
}

.left {
  transform: translateX(0);
}

.right {
  transform: translateX(100%);
}

/* Color del texto cuando está activo */
.activeText {
  color: #fff;
}

/* Color del texto cuando está inactivo */
.inactiveText {
  color: #000;
}

.sliderContainer {
  display: block;
  height: 100%;
  width: 100%;
  margin: 40px 20px 50px 20px;
}

.productsSection,
.offersSection {
  text-align: center;
  margin-top: 30px;
}

/*SECCION DE OFERTAS */

.productsOnSale {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.aboutSection {
  display: flex;
  align-items: center;
  margin: 50px 0;
  background: #fff;
}
.aboutImg {
  width: 40%;
  max-height: 600px;
  object-fit: cover;
}
.aboutContent {
  flex-direction: column;
  margin: 30px;
  row-gap: 20px;
}

.aboutContent p {
  line-height: 1.6;
}
.aboutContent button {
  margin-top: 1.5rem;
}

@media (max-width: 900px) {
  .aboutImg {
    display: none;
  }
}

/*Movile screen*/
@media (max-width: 700px) and (min-width: 320px) {
  .heroText {
    margin: auto;
  }

  .heroText p {
    font-size: 20px;
    margin-block-start: 0.2em;
    margin-block-end: 1em;
  }
  .discountSide p,
  .featuredSide p {
    font-size: 10px;
  }
  .productsOnSale {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
