.detailContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.imagesSection {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}

.mainImage {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.secondaryImg {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.productThumbItem {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.productThumbItem:hover {
  transform: scale(1.1);
}

.contentSection {
  flex: 1;
  max-width: 50%;
}
.amount {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  row-gap: 10px;
  font-weight: bold;
}
.amount input {
  max-width: 100px;
  padding: 20px 10px;
  text-align: center;
}

.priceSection {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.price {
  font-size: 20px;
  font-weight: bold;
}

.discountPrice {
  font-size: 20px;
  color: #b22222;
  font-weight: bold;
}

.oldPrice {
  text-decoration: line-through;
  color: #6d6d6d;
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 500;
}

.addButton {
  display: block;
  width: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .detailContainer {
    flex-direction: column;
    align-items: center;
  }

  .productDescription {
    text-align: left;
  }

  .imagesSection {
    display: block;
    max-width: 90%;
    min-height: auto;
    margin-bottom: 20px;
  }

  .mainImage,
  .productThumbItem {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  .contentSection {
    max-width: 100%;
    text-align: center;
  }
  .amount {
    align-items: center;
  }
  .priceSection {
    justify-content: center;
  }
}
