footer {
  background-color: #181818; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  padding: 3% 5%; /* Ajusta el padding para espaciar el contenido */
}

footer p {
  font-size: 1rem;
}
.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Tres columnas iguales */
  gap: 30px; /* Espacio entre columnas */
  text-align: left;
}

.footer_section {
  display: flex;
  flex-direction: column; /* Apilar el contenido en una columna */
}

.footer_section h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Montserrat";
}

.footer_section p {
  display: flex;
  align-items: center;
  margin: 5px 0;
  color: gray;
}

.footer_section a,
li {
  color: gray;
  text-decoration: none;
  text-align: start;
}

.footer_section a:hover {
  text-decoration: underline;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}
.social_network {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  gap: 20px;
}
.social_network svg {
  font-size: 1.2rem;
}
.icon {
  font-size: 1.2rem; /* Ajusta el tamaño de los íconos */
  margin-right: 10px;
  min-width: 15px;
}

.riReserved {
  color: gray;
  text-align: center;
}

.line {
  background-color: gray;
  height: 1px;
  border: none;
  margin-top: 40px;
}
.riReserved p {
  margin-top: 30px;
}

@media (max-width: 700px) and (min-width: 320px) {
  .content {
    display: flex;
    flex-direction: column; /* Tres columnas iguales */
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer_section p,
  a,
  li {
    font-size: 13px;
  }
}
