.testimonialsSection {
  position: relative;
  background: url("/src/assets/images/torres-del-paine.jpg") center/cover
    no-repeat;
  text-align: center;
  padding: 50px 35px;
  color: white;
}
.testimonialsSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Capa oscura con 60% de opacidad */
  z-index: 1;
}

.testimonialsSection h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #f8b363;
}

.testimonialsSlider {
  margin-top: 30px;
  padding: 20px;
}
.testimonialsSection h2,
.testimonialsSlider {
  position: relative;
  z-index: 2;
}
.testimonialCard {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 0 10px;
  transition: transform 0.3s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonialCard:hover {
  transform: scale(1.05);
}

.testimonialImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
  margin-bottom: 15px;
}

.stars {
  margin: 10px 0;
}

.star {
  font-size: 1.2rem;
  color: gray;
}

.star.filled {
  color: gold;
}

.testimonialCard p {
  line-height: 1.4;
}

/* Personalizar los botones del carrusel */
.slick-prev,
.slick-next {
  font-size: 20px;
  color: rgb(187, 72, 72);
  z-index: 2;
}

.slick-prev:hover,
.slick-next:hover {
  color: #f4a261;
}

.slick-dots li button:before {
  color: white;
}

.slick-dots li.slick-active button:before {
  color: #f4a261;
}

@media (max-width: 700px) and (min-width: 320px) {
  .testimonialCard p {
    font-size: 13px;
  }
}
