.contentContainer {
  margin: 10%;
}
.heroProducts {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/assets/images/hero-products.jpg");
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* Capa amarilla semitransparente */
.heroProducts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 221, 0, 0.24); /* Amarillo semitransparente */
  mix-blend-mode: multiply; /* Mezcla los colores con la imagen de fondo */
}

/* Ajustar el texto */
.heroText {
  position: relative; /* Para que el texto esté sobre la máscara */
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  z-index: 2;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

@media (max-width: 700px) and (min-width: 320px) {
  .gridContainer {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
