body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Montserrat;
}

@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "sansation-light";
  src: url(/fonts/sansation-light.ttf) format("truetype");
}
